pipeline {

    agent {
        docker {
            image "openjdk:8"
        }
    }

    stages {
        stage('Preparations') {
            steps {
                sh "apt update && apt install -y ssh"
            }
        }

        stage('Compile project') {
            steps {
                sh "cp -f src/test/resources/application.properties src/main/resources/application.properties"
                sh "./gradlew compileJava"
            }
        }

        stage('Tests') {
            steps {
                sh "./gradlew test"
            }
        }

        stage('Build') {
            steps {
                sh "./gradlew build -x test"
            }
        }

        stage('Push to Nexus') {
            steps {
                sh ""
            }
        }

        stage('Deploy to server') {
            when {
                 allOf {
                     expression { currentBuild.number % 5 == 0 }
                 }
            }
            steps {
                // withCredentials([file(credentialsId: 'sandbox', variable: 'pem_file')]) {
                    // sh "ls -l"
                    // sh "ls -l build"
                    // sh "ls -l build/libs"
                    // sh "scp -o StrictHostKeyChecking=no -i ${pem_file} build/libs/*.jar ubuntu@10.0.0.82:/home/ubuntu/projects/"
                    // sh "rsh -o StrictHostKeyChecking=no -i ${pem_file} ubuntu@10.0.0.82 \"bash ./script.sh &\""
                // }
            }
        }
    }
}